
{% extends 'personal/base.html' %}
{% block content %}
    <style>
    .my-grid{
        border: 1px solid black;
    }
    .my-grid-item{
        border: 1px solid black;
    }
    </style>
               <!--1st div-->
    <div class="container">
    <div class="my-grid d-flex flex-row">
        <p class="m-auto">item</p>
        <p class="m-auto">item</p>
        <p class="m-auto">item</p>
        <p class="m-auto">item</p>
    </div>
            <!--2nd div-->
    <div class="my-grid d-flex flex-column mt-4">
        <p class="m-auto">item</p>
        <p class="m-auto">item</p>
        <p class="m-auto">item</p>
        <p class="m-auto">item</p>
    </div>
    </div>
{% endblock %}
